{% extends "default.html" %}
{% block title %}Memories{% endblock %}

{% block content %}

<br/>
<br/>
<h3>Experience <em>{{exp.name}}</em></h3>

<div ng-controller="eventCtrl" ng-init="loadEvents('{{exp.uuid}}')" >

<div class="callout">
<div class="row">
<div class="large-12 columns">
<p style="font-size:1.2em;">To add visual events chose the images to upload</p>
<form>
<fieldset class="large-4 columns">
    <legend>Preprocess options</legend>
    <input name="fred"    id="cbfred"    type="checkbox" ng-model="options.fred"    checked><label for="fred">Fred</label>
    <input name="read"    id="cbread"      type="checkbox" ng-model="options.read"      checked><label for="read">Read</label>
    <input name="analize" id="cbanalize" type="checkbox" ng-model="options.analize" checked><label for="analize">Analize</label>
</fieldset>

<div class="large-5 columns">
<button class="button file-upload">
	<input type="file"   id="file" name="file[]" multiple ng-files="uploadFiles('{{exp.uuid}}',$files)" class="file-input">Choose images
</input>
</button>
</div>
</form>

</div>
</div>
</div>

<div class="callout">
<div class="row">
<div class="large-5 columns">
	<button data-open="modal_action" class="button">Add event</>
</div>
<div class="large-5 columns">
	<button ng-click="saveOrder('{{exp.uuid}}')" class="button success">Save order</>
</div>
</div>
</div>

<ul ui-sortable ng-model="events">
	<li ng-repeat="e in events">
		<div class="row">
		<div class="large-2 columns">
			<img ng-if="e.type=='visual'" src='/{[e.filename]}'/>
			<p ng-if="e.type=='action'">Event</p>
		</div>
		<div class="large-5 columns">
		<div class="small button-group">
		<div  ng-repeat="i in e.infos">
		<a ng-click="changeInfo(e.id,i.id)" class="button secondary">{[i.type]}</a>
		</div>
		</div>
		<p>{[ infos[e.id] ]}</p>
		</div>

		<div class="large-5 columns">
		<div ng-if="e.type=='visual'" class="small button-group">
		<button class="button" ng-click="processRead('{{exp.uuid}}',e)">
			Read <i class="fi-loop"></i>
		</button>
		<button class="button" ng-click="processAnalysis('{{exp.uuid}}',e)">
			Analisis <i class="fi-loop"></i>
		</button>
		</div>
		<button data-open="modal_delete"  class="button" ng-click="deleteEvent(e)">
			<i  class="fi-trash"></i>
		</button>
		</div>
		</div>
	</li>
</ul>
</div>

<div class="reveal" id="modal_delete" data-reveal>
	<p style="font-size:1.2em;">Are you sure do you want to erase this event?</p>
	<div ng-controller="modalDeleteCtrl">
    <input type="submit" data-close aria-label="Delete event" class="button radius" ng-click="deleteEvent('{{exp.uuid}}')"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>


<div class="reveal" id="modal_golem" data-reveal>
	<p style="font-size:1.2em;">Golem information</p>
	<div ng-controller="modalGolemCtrl">
    <label>Position
        <input ng-model="position" type="text" placeholder="Which position was the robot?">
    </label>
    <input type="submit" data-close aria-label="Add spatial memory" class="button radius" ng-click="processGolem('{{exp.uuid}}')"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal" id="modal_action" data-reveal>
	<p style="font-size:1.2em;">Action</p>
	<div ng-controller="modalActionCtrl">
		<form name="formCreateAction" ng-submit="addAction('{{exp.uuid}}',formCreateAction.$valid)" novalidate>
	<label>Type</label>
	<input ng-model="action_type" type="text" placeholder="Write action type" ng-required="true" required>
	<p ng-show="formCreateAction.action_type.$error.required" class="help-block">Type is required.</p>
	<label>Command</label>
		<input ng-model="action_command" type="text" placeholder="Write the action command" ng-required="true"></textarea>
	<label>Arguments</label>
		<textarea ng-model="action_args" placeholder="Write command arguments separated by comma"></textarea>
    </label>
    <input type="submit" data-close aria-label="Add spatial memory" class="button radius" ng-disabled="formCreateAction.$invalid"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>




{%endblock%}
