{% extends "default.html" %}
{% block title %}Exploring memories{% endblock %}

{% block content %}

<br/>
<br/>
<h3>Experience <em>{{exp.name}}</em></h3>

<div ng-controller="memoryCtrl" ng-init="loadMemories('{{exp.uuid}}')" >

<table>
	<tr>
		<th>Image</th>
		<th>Sentences</th>
	</tr>
	<tr ng-repeat="memory in memories | filter:{type:'visual'}">
		<td align="center"><img width="340" src='/{[memory.filename ]}'/></td>
		<td>
			<ul ng-repeat="p in memory.perceptions">
				<li ng-if="p.type=='read' && getReadText(p.repr)">{[ getReadText(p.repr)]}</li>
				<li ng-if="p.type=='analysis' && getDescriptionText(p.repr)">{[ getDescriptionText(p.repr)]}</li>
			</ul>
		</td>
	</tr>
	<tr>
		<th>Image</th>
		<th>Objects</th>
	</tr>
	<tr ng-repeat="memory in memories | filter:{type:'visual'}">
		<td align="center"><img width="340" src='/{[memory.filename ]}'/></td>
		<td>
			<ul ng-repeat="p in memory.perceptions | filter:{type:'analysis'}">
				<div ng-repeat="o in getTags(p.repr)">
				<li>{[o]}</li>
				</div>
			</ul>
		</td>
	</tr>

</table>

</div>


{%endblock%}
