{% extends "default.html" %}

{% block title %}{% endblock %}

{% block content %}

<div ng-controller="experienceCtrl" >
<br/>
<br/>
<h3>Welcome to the website for <em>Machine reading for narrative generation of spatial experiences in service robots</em> project</h3>
<br/>
<br/>
<p style="font-size:1.2em;">You can found more information of the project <a href="http://lipn.univ-paris13.fr/rcln/wiki/index.php/Machine_reading_for_narrative_generation_of_spatial_experiences_in_service_robots">here</a></p>
<hr/>
<p style="font-size:1.2em;">Recent experiences</p>
<td style="vertical-align: top">
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Options</th>
		</tr>
		<tr ng-repeat="exp in experiences">
			<td>{[ exp.name ]}</td>
			<td>{[ exp.description ]}</td>
			<td>
				<a class="button" href="memory/{[exp.uuid]}"><i class="fi-pencil"></i></a>
				<a class="button" href="explore/{[exp.uuid]}"><i class="fi-eye"></i></a>
				<button class="button" ng-click="deleteExperience(exp)" data-open="modal_delete"><i class="fi-trash"></i></button>
			</td>
		</tr>
	</table>
</td>
</div>

<p style="text-align:right;"><a class='button success' data-open="modal_create"><i class="fi-plus"></i></a></p>
<hr/>

<div class="reveal" id="modal_create" data-reveal>
	<p style="font-size:1.2em;">To create a new experience enter the following information:</p>
	<div ng-controller="modalCreateCtrl">
	<form name="formCreateExperience" ng-submit="createExperience(formCreateExperience.$valid)" novalidate>
	<label>Name
	<input type="text" placeholder="Name for the experience" ng-required="true" ng-model='name' required> 
	<p ng-show="formCreateExperience.name.$error.required" class="help-block">Name is required.</p>
	</label>
	<label>
	Descripción
    <textarea placeholder="Description of the experience" ng-model='description'></textarea>
	</label> 
    <input type="submit" data-close aria-label="Create experience" class="button radius"  ng-disabled="formCreateExperience.$invalid"   value="Create"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="Cancel"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal" id="modal_delete" data-reveal>
	<div ng-controller="modalDeleteCtrl">
	<p style="font-size:1.2em;">Are you sure do you want to erase this experience?</p>
    <input type="submit" data-close aria-label="Delete experience" class="button radius" ng-click="deleteExperience()"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

{%endblock%}
