{% extends "default.html" %}
{% block title %}Memories{% endblock %}

{% block content %}

<br/>
<br/>
<h3>Experience <em>{{exp.name}}</em></h3>

<div ng-controller="memoryCtrl" ng-init="loadMemories('{{exp.uuid}}')" >

<div class="callout">
<div class="row">
<div class="large-12 columns">
<p style="font-size:1.2em;">To add memories choose them</p>
<form>
<fieldset class="large-4 columns">
    <legend>Preprocess options</legend>
    <input name="fred"    id="cbfred"    type="checkbox" ng-model="fred"    checked><label for="fred">Fred</label>
    <input name="cs"      id="cbcs"      type="checkbox" ng-model="cs"      checked><label for="cs">OCR</label>
    <input name="analize" id="cbanalize" type="checkbox" ng-model="analize" checked><label for="analize">Analize</label>
</fieldset>

<div class="large-5 columns">
<button class="button file-upload">
	<input type="file"   id="file" name="file[]" multiple ng-files="uploadFiles('{{exp.uuid}}',$files)" class="file-input">Choose files
</input>
</button>
</div>
</form>

</div>
</div>
</div>

<div class="callout">
<div class="row">
<div class="large-5 columns">
	<button data-open="modal_action" class="button">Add memory</>
</div>
<div class="large-5 columns">
	<button ng-click="saveOrder('{{exp.uuid}}')" class="button success">Save order</>
</div>
</div>
</div>

<ul ui-sortable ng-model="memories">
	<li ng-repeat="memory in memories">
		<div class="row">
		<div class="large-2 columns">
			<img ng-if="memory.type=='visual'" src='/{[memory.filename ]}'/>
			<p ng-if="memory.type=='action'">ACTION</p>
		</div>
		<div class="large-5 columns">
		<div class="small button-group">
		<div  ng-repeat="perception in memory.perceptions">
		<a ng-click="changePerception(memory.id,perception.id)" class="button secondary">{[perception.type]}</a>
		</div>
		</div>
		<p>{[ perceptions[memory.id] ]}</p>
		</div>

		<div class="large-5 columns">
		<div ng-if="memory.type=='visual'" class="small button-group">
		<button class="button" ng-click="processRead('{{exp.uuid}}',memory)">
			Read <i class="fi-loop"></i>
		</button>
		<button class="button" ng-click="processAnalysis('{{exp.uuid}}',memory)">
			Analisis <i class="fi-loop"></i>
		</button>
		<button class="button" ng-click="processFred('{{exp.uuid}}',memory)">
			Fred <i class="fi-loop"></i>
		</button>
		<button data-open="modal_golem" class="button" ng-click="processGolem(memory)">
			Golem <i class="fi-pencil"></i>
		</button>
		<button data-open="modal_delete"  class="button" ng-click="deleteMemory(memory)">
			<i  class="fi-trash"></i>
		</button>
		</div>
		</div>
		</div>
	</li>
</ul>
</div>

<div class="reveal" id="modal_delete" data-reveal>
	<p style="font-size:1.2em;">Are you sure do you want to erase this memory?</p>
	<div ng-controller="modalDeleteCtrl">
    <input type="submit" data-close aria-label="Delete experience" class="button radius" ng-click="deleteMemory('{{exp.uuid}}')"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>


<div class="reveal" id="modal_golem" data-reveal>
	<p style="font-size:1.2em;">Golem information</p>
	<div ng-controller="modalGolemCtrl">
    <label>Position
        <input ng-model="position" type="text" placeholder="Which position was the robot?">
    </label>
    <input type="submit" data-close aria-label="Add spatial memory" class="button radius" ng-click="processGolem('{{exp.uuid}}')"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="reveal" id="modal_action" data-reveal>
	<p style="font-size:1.2em;">Action</p>
	<div ng-controller="modalActionCtrl">
    <label>
        <input ng-model="action_type" type="text" placeholder="Write action type">
		<textarea ng-model="action_representation" placeholder="Write the action representation"></textarea>
    </label>
    <input type="submit" data-close aria-label="Add spatial memory" class="button radius" ng-click="addAction('{{exp.uuid}}')"  value="Yes"/>
    <input type="submit" data-close aria-label="Close modal" class="button radius" value="No"/>
	</form>
	</div>
	<button class="close-button" data-close aria-label="Close modal" type="button">
	<span aria-hidden="true">&times;</span>
	</button>
</div>




{%endblock%}
